# dependencies
node_modules
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npmrc
scripts/ca-refresh-local.sh

# key
dev_mok_keyInfo.dat
mok_keyInfo.dat
mok_Key_Manager_v1.0.3.js

# testing
coverage
.nyc_output

# next.js
.next/
next-env.d.ts
sitemap.xml
sitemap-*.xml

# compiled output
*.tsbuildinfo
out
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
.vercel

# IDE - VSCode
.vscode
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
