@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
        text-size-adjust: none;
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: transparent;
        --tw-shadow-color: 0 0 0;
        text-shadow: 0 0 1px rgb(var(--tw-shadow-color) / 0.30); /* 윈도우 폰트에 적용됨 */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

@layer utilities {}

/* safe-area handling */
html, #__next {
    height: 100%;
    margin: 0;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}